@charset "utf-8";
/* CSS Document */
.main{
	margin:0 auto;
	padding:0 auto;
	width:1400px;
	height:1135px;
	background-image:url(../img/02.png);
	}
	.center{
		width:882px;
		margin:0 auto;
	padding:0 auto;}
.left{
	position:relative;
	float:left;
	width:235px;}
.right{
	position:relative;
	float:right;
	width:645px;}
.logo{
	width:235px;
	height:312px;
	background:url(../img/01.png) no-repeat;
	}
.service{
	width:205px;
	height:320px;}
.service2{	margin:0;
		padding:0;
	background-color:#000;
	height:35px;
	width:205px;
	border-radius:  6px 6px 0 0;
-moz-border-radius: 6px 6px 0 0; 
-khtml-border-radius:  6px 6px 0 0;
}
	.service1{
		margin:0;
		padding-top:10px;
	background-color:#FFF;
	width:205px;
	height:285px;
	border-radius:  0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px; 
-khtml-border-radius: 0 0 6px 6px;}
		
.text1{
	color:#FFF;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
	text-transform:uppercase;
	padding-left:10px;
	padding-top:5px;
	}

.service ul{
	list-style:url(../img/03.png);
	line-height:2;
	width:150px;}	
.service ul li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
		;
	color:#000;
	line-height:2;
	border-bottom:dotted #999999 thin ;
	}
.service ul li a{	color:#000;
text-decoration:none;}
.service a{
	color:#78b70a;
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	}
.text2{
	padding-left:23px;}
.text4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFF;
	text-transform:uppercase;}
.text3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF;
	width:160px;
	}
.text5{font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#9ef309;
	border-bottom:dotted #4e5256 thin;
	width:160px;
	}
.text5 a{color:#9ef309;
text-decoration:none;}
.text6 a{ color:#FFF;
text-decoration:underline;}
.latest{
	width:185px;
	height:320px;
	margin-top:30px;
	border-radius:  6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px; 
-khtml-border-radius: 6px 6px 6px 6px;
background-color:#000;
padding-top:10px;
padding-left:20px;}
.clear{
	clear:both;}
.lefrfooter{
	position:relative;
	margin-top:50px;}
.vlinks{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF}
.vlinks a{
	color:#9ef309;
	text-decoration:none;}
	
	
	
.nav ul {
			width:640px;;
		overflow:hidden;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#FFF;
		position:relative;
		list-style:none;
	
		}
.nav ul li {	
			float:left;
			font-family:Arial, Helvetica, sans-serif;
						padding:0 20px 0 20px;
		
			font-size:12px;
				color:#FFF
			}
.nav ul li a {
				float:left;
				text-decoration:none;
			padding:9px 0 9px 0;
			font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#FFF;
		
			 
				}
.nav ul li a:hover {
				text-decoration:none;
				
						
				overflow:hidden;
		padding:9px 9px 9px 9px;
		position:relative;
		background-color:#7bba0d;
border-radius:  3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px; 
-khtml-border-radius: 3px 3px 3px 3px;
				}
.white{
	position:relative;
	width:640px;
	height:1010px;
	background-color:#FFF;
	border-radius:  0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px; 
-khtml-border-radius: 0 0 3px 3px;}
.well{position:relative;
	margin:0 auto;
	padding:0 auto;
	width:610px;
	padding-left:20px;}
.slider{
	position:relative;
	margin:0 auto;
	padding:0 auto;
	width:605px;
	height:325px;
	background-image:url(../img/04.png);}
.img11{
	position:absolute;
	padding-top:200px;
	padding-left:50px;}
.compnews{
	position:relative;
	float:left;padding-left:20px;
	width:190px;}
.research{
	position:relative;
	float:left;
	width:190px;
	padding-left:15px;}
.workmarter{
	position:relative;
	float:left;
	width:190px;
		padding-left:15px;}
.text7{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#000;
	text-transform:uppercase;}
.imgg{
	padding-top:13px;}
	.imgg2{
		padding-left:15px;}
.text8{	font-weight:bold;
	color:#75b408;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	
	}
.text9{font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	}
.text10{
	font-size:23px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;}
.text11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000;}
.text11 a{
	text-decoration:underline;
	color:#78b70a;	}
.rss{
	position:relative;
	float:left;
	padding-left:20px;}
.vlinkss{
	position:relative;
	float:right; font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	padding-right:20px;}
.vlinkss a{
	color:#9ef309;
	text-decoration:none;}
	